In [76]:
import pandas as pd

In [110]:
rel_que = pd.read_csv('data/relevant_questions.csv')
ans = pd.read_csv('data/keyword_answer.csv')
kdf = pd.read_csv('data/keywords.csv')

In [78]:
rel_que

          id                                          questions     score
0   48641350  How to merge two lists into a list of multiple...  0.799961
1   46362972                    Merge list of lists in python 3  0.785947
2    1158128                       Merge sorted lists in python  0.750189
3   44476206                  how to merge two list having dict  0.749920
4   58971955                        How to merge two dataframe?  0.709934
..       ...                                                ...       ...
95  14008075  How to merge many to many relations from one d...  0.372127
96  55206146  Merge Pandas Dataframe with non-unique index w...  0.366641
97  58678560  How to merge similar data into a custom field ...  0.365843
98  50727548  How to merge multiple dataframes with the same...  0.354777
99  58276538  How to merge/join empty dataframe with another...  0.354546

[100 rows x 3 columns]

In [79]:
ans['question'] = ans

,id,answer,topic list
0,62766758.0,<p>Container-Optimized OS (COS) has several li...,Topic 0
1,62766758.0,<p>I'm pretty sure that in case of Python libr...,"Topic 0, Topic 1"
2,62742938.0,"<p>The standard library has a module <a href=""...",Topic 0
3,62741826.0,<p>Hello and welcome to StackOverflow.</p>\r\n...,"Topic 0, Topic 1, Topic 2"
4,62741826.0,<p>I guess you want to <code>groupby</code> an...,"Topic 0, Topic 1"
...,...,...,...
99995,35898687.0,<p>Just for fun non-UDF solution:</p>\r\n\r\n<...,"Topic 0, Topic 1"
99996,35898687.0,<p>The following code does the requested task....,"Topic 0, Topic 1, Topic 2"
99997,35937882.0,"<p>At the end of your code, just add <code>win...",Topic 0
99998,35937882.0,<p>You didn't do a </p>\r\n\r\n<pre><code>wind...,"Topic 0, Topic 1"
99999,35733050.0,"<p>Whenever faced with a complex XML, consider...","Topic 0, Topic 1"

In [111]:
kdf

     Topic                                           Keywords
0  Topic 0  ['dataframe', 'pandas', 'true', 'index', 'key'...
1  Topic 1  ['list', 'print', 'result', 'return', 'number'...
2  Topic 2  ['line', 'file', 'string', 'print', 'data', 'o...
3  Topic 3  ['path', 'install', 'os', 'run', 'version', 'l...
4  Topic 4  ['numpy', 'array', 'image', 'import', 'plot', ...
5  Topic 5  ['http', 'import', 'html', 'request', 'url', '...
6  Topic 6  ['return', 'def', 'function', 'class', 'call',...
7  Topic 7  ['time', 'def', 'import', 'text', 'start', 'ro...

In [83]:
rel_ans = pd.DataFrame()

In [84]:
for i in enumerate(rel_que['id']):
    rel_ans = pd.concat([ans[ans['id'] == i[1]], rel_ans])

In [85]:
rel_ans

,id,answer,topic list
4728,58276538.0,<p>You can either use <code>update</code>:</p>...,"Topic 0, Topic 1"
4729,58276538.0,"<p>This is perfect case for <a href=""https://p...","Topic 0, Topic 1"
4730,58276538.0,<p>In your case <code>reindex_like</code></p>\...,Topic 0
60589,50727548.0,<p>You can put the different column into index...,"Topic 0, Topic 1"
27294,58678560.0,<p>Your desired outputs are no longer really m...,"Topic 0, Topic 1"
...,...,...,...
39444,46362972.0,<p>Use this code :</p>\r\n\r\n<pre><code>list1...,"Topic 0, Topic 1"
18975,48641350.0,<p><strong>This might help</strong></p>\r\n\r\...,"Topic 0, Topic 1"
18976,48641350.0,<p>You could achieve your desired output with ...,Topic 0
18977,48641350.0,"<p>Or you can use use append, but you need to ...","Topic 0, Topic 1"
18978,48641350.0,<pre><code>from itertools import product\r\n\r...,"Topic 0, Topic 1"

In [86]:
topic_ans = pd.DataFrame()

In [87]:
topic_qa = [[],[],[],[],[],[],[],[]]

In [109]:
for i in range(0, rel_ans.shape[0]):
    topic_list = rel_ans.iloc[i]['topic list'].split(',')
    for topic in topic_list:
        topic = int(topic.split(' ')[-1])
        que_row = rel_que[rel_que['id']==rel_ans['id'].iloc[i]]
        que = que_row.iloc[0]['questions']
        ans = rel_ans.iloc[i]['answer']
        topic_qa[topic].append([que, ans])