In [ ]:
import pandas as pd

In [ ]:
rel_que = pd.read_csv('data/relevant_questions.csv')
ans = pd.read_csv('data/keyword_answer.csv')

In [ ]:
rel_que

In [ ]:
ans

In [38]:
rel_ans = pd.DataFrame()

In [39]:
for i in enumerate(rel_que['id']):
    rel_ans = pd.concat([ans[ans['0'] == i[1]], rel_ans])

In [40]:
rel_ans

,0,1,2
4728,58276538.0,<p>You can either use <code>update</code>:</p>...,['Topic 0']
4729,58276538.0,"<p>This is perfect case for <a href=""https://p...","['Topic 0', 'Topic 1', 'Topic 2']"
4730,58276538.0,<p>In your case <code>reindex_like</code></p>\...,['Topic 0']
60589,50727548.0,<p>You can put the different column into index...,"['Topic 0', 'Topic 1', 'Topic 2']"
27294,58678560.0,<p>Your desired outputs are no longer really m...,"['Topic 0', 'Topic 1']"
...,...,...,...
39444,46362972.0,<p>Use this code :</p>\r\n\r\n<pre><code>list1...,"['Topic 0', 'Topic 1']"
18975,48641350.0,<p><strong>This might help</strong></p>\r\n\r\...,['Topic 0']
18976,48641350.0,<p>You could achieve your desired output with ...,['Topic 0']
18977,48641350.0,"<p>Or you can use use append, but you need to ...",['Topic 0']
18978,48641350.0,<pre><code>from itertools import product\r\n\r...,['Topic 0']

In [14]:
topic_ans = pd.DataFrame()

In [67]:
topic_ans_list = [['Topic 0', []],['Topic 1', []],['Topic 2', []],['Topic 3', []]['Topic 0', []]['Topic 0', []]['Topic 0', []]]

In [ ]:
df_list = []
for i in range(0, rel_ans.shape[0]):
    topic_list = rel_ans.iloc[i]['2'].split(',')
    for topic in topic_list:
        topic = int(topic.split(' ')[1])
        df_list[topic].append([df[df['id']==rel_ans['0'].iloc[i]], rel_ans['1'].iloc[i]])
        print(df_list)
    break

In [68]:
pd.DataFrame(topic_ans_list)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7]

In [30]:
rel_ans.iloc[1]['2'].split(',')

["['Topic 0'", " 'Topic 1'", " 'Topic 2']"]

In [44]:
rel_ans['0'].iloc[0]

58276538.0

7728    how to merge two dictionaries with different k...
Name: title, dtype: object

0

In [65]:
c = df[df['id']==rel_ans['0'].iloc[i]]['title']

In [63]:
df_list.append(c)

In [64]:
df_list

[7728    how to merge two dictionaries with different k...
 Name: title, dtype: object]